.current-store-reviews button {
    border-radius: 20px;
    max-width: 30%;
    margin-left: 2vw;
    margin-top: 4vh;
}

.current-store-reviews .button.active {
    border: 2px solid green;
    background-color: green;
    color: white;
}

.current-store-reviews .button.inactive {
    border: 2px solid green;
    background-color: transparent;
    color: green;
}
