.signup-modal {
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 20px;
    max-height: 65vh; /* Set maximum height to 70% of the viewport height */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds max-height */
    box-sizing: border-box;
}

.signup-modal::-webkit-scrollbar {
    width: 8px;
}

.signup-modal::-webkit-scrollbar-thumb {
    background: #888; /* Customize scrollbar thumb color */
    border-radius: 10px; /* Match border radius */
    height: 40px; /* Shorten the scrollbar thumb */
}

.signup-modal::-webkit-scrollbar-thumb:hover {
    background: #555; /* Customize scrollbar thumb hover color */
}

.signup-modal h1 {
    text-align: center;
    margin-top: 10px;
}

button {
    list-style-type: none;
    width: 260px;
    font-size: 1.1em;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.signup-modal button {
    border-radius: 20px;
    border: 2px solid green;
    background-color: green;
    color: white;
}

.signup-modal button:disabled {
    background-color: grey;
    border: 2px solid grey;
    color: white;
    cursor: not-allowed
}

.signup-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

input {
    width: 250px;
    /* padding: 5px; */
    margin-top: 4px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button:hover {
    cursor: pointer;
}

.errors {
    display: flex;
    color: rgb(252, 96, 96);
    max-width: 250px;
    word-wrap: break-word; /* Ensure long words break to the next line */
    white-space: normal; /* Allow wrapping */
}
