.signup-modal {
    padding: 10px 20px;
    border: 1px solid pink;
    border-radius: 20px;
}

.signup-modal h1 {
    text-align: center;
    margin-top: 10px;
}

button {
    list-style-type: none;
    width: 260px;
    font-size: 1.1em;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.signup-modal button {
    border-radius: 20px;
    border: 2px solid green;
    background-color: green;
    color: white;
}

.signup-modal button:disabled {
    background-color: grey;
    border: 2px solid grey;
    color: white;
    cursor: not-allowed
}

.signup-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

input {
    width: 250px;
    /* padding: 5px; */
    margin-top: 4px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button:hover {
    cursor: pointer;
}

.errors {
    display: flex;
    color: rgb(252, 96, 96);
    max-width: 250px;
    word-wrap: break-word; /* Ensure long words break to the next line */
    white-space: normal; /* Allow wrapping */
}
