.stores-page {
    max-width: 50%;
    margin: 0 auto;
    border: 1px solid pink;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.store-tile {
    display: flex;
    flex-direction: column;
}
