.sidebar {
    /* border: 1px solid pink; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 20%;
    gap: 20px;
    font-size: 1.2em;
    max-width: 25%;
    padding: 30px 70px 30px 30px;
    background-color: rgba(241, 241, 241, 0.5);
    height: 70vh;
    margin: 2.5vh 0
}

.active {
    color: rgb(0, 171, 0);
    font-weight: bold;
}
