.update-store-container {
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
}

.update-store-container>:first-child {
    font-weight: bold;
    font-size: 1.7em;
    margin-left: 40px;
}

.update-store-form {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.update-store-form input,
.update-store-form textarea {
    border: 1px solid black;
    margin: 10px
}

.update-store-form>:first-child {
    font-size: 2em;
}

.update-store-form button {
    border-radius: 20px;
    max-width: 30%;
    margin-left: 2vw;
}

.update-store-form button#cancel {
    border: 2px solid black;
    background-color: transparent;
    color: black;
}

.update-store-form button#update-store {
    border: 2px solid green;
    background-color: green;
    color: white;
}

.update-store-form button#update-store:disabled {
    background-color: grey;
    border: 2px solid grey;
    color: white;
    cursor: not-allowed
}
