.item-details-container {
    max-width: 60%;
    margin: 4vh auto;
    /* border: 1px solid pink; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5vh;
    gap: 4vw;
}

.item-details-container .item-pic {
    max-width: 40%;
    width: 100%; /* Make the image take the full width of its container */
    height: auto; /* Maintain the aspect ratio */
    object-fit: cover; /* Ensure the image covers the container without distortion */
}

.item-details-container #item-info {
    font-size: 1.2em;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.item-details-container #item-info > div {
    margin-bottom: 1vh;
}

.item-details-container #item-info > div:nth-child(1) {
    font-size: 1.4em;
    font-weight: bold;
    color: rgb(253, 127, 148);
}

.item-details-container #item-info > div:nth-child(3) {
    max-width: 30vw;
    word-wrap: break-word;
}
