.items-index-page {
    max-width: 50%;
    margin: 0 auto;
    border: 1px solid pink;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item-tile {
    display: inline-flex;
    flex-direction: column;
    border: 1px solid pink;
}

.item-tile .item-pic {
    max-width: 30%;
}
