.items-index-page {
    max-width: 65%;
    margin: 5vh auto;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.items-index-tile {
    background: #f1f1f1;
    margin: 0 auto;
    padding: 5%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.items-index-tile .item-pic {
    max-width: 40%;
    padding: 1.5vw;
}

@media (max-width: 500px) {
    .items-index-page {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 900px) {
    .items-index-page {
        grid-template-columns: repeat(4, 1fr);
    }
}
