.profile-page {
    max-width: 60%;
    margin: 0 auto;
    /* border: 1px solid pink; */
}

.store-section {
    display: flex;
    flex-direction: row;
    padding: 3%;
}

#store-stat {
    display: inline-flex;
    flex-direction: column;
    max-width: 20%;
    gap: 1vh
}

#store-info {
    display: inline-flex;
    flex-direction: column;
    gap: 1vh
}

#store-info>:first-child {
    display: flex;
    flex-direction: row;
    gap: 2vh
}

.update-button,
.delete-button {
    list-style-type: none;
    border-radius: 20px;
    padding: 5px 10px;
    min-width: 100px;
    text-align: center;
}

.update-button {
    border: 2px solid green;
    background-color: green;
    color: white;
}

.delete-button {
    border: 2px solid black;
    background-color: transparent;
    color: black;
}

#store-stat .profile-pic {
    max-width: 80%;
    border-radius: 50%;
}

.bubble-container {
    position: relative;
    background: #f1f1f1;
    border-radius: 15px;
    padding: 10px;
    max-width: 60%;
    margin: 10px 0;
    color: #333;
    font-size: 16px;
    line-height: 1.4;
}

.bubble-container::before {
    content: "";
    position: absolute;
    bottom: -20px; /* Position of the tail */
    left: 0px; /* Horizontal position of the tail*/
    width: 0px;
    height: 10px;
    border-top: 20px solid #f1f1f1; /* Same color as the bubble */
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transform: rotate(30deg);
}

/* .create-item-button {
    border-radius: 20px;
    background-color: green;
    color: white;
    padding: 6px 8px;
} */

/* .pencil-icon {
    position: relative;
    top: 0.5vh;
} */

#item-tile .item-pic {
    max-width: 40%;
    width: 100%; /* Make the image take the full width of its container */
    height: auto; /* Maintain the aspect ratio */
    object-fit: cover; /* Ensure the image covers the container without distortion */
}

#item-tile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: #f1f1f1;
    padding: 25px;
    box-sizing: border-box; /* Ensures padding and border are included in the width */
    padding-left: 0;
    gap: 10px;
    margin: 30px 0
}

#item-tile .item-info {
    display: flex;
    flex-direction: row;
    gap: 4vw;
}

.newspaper {
    color: green;
    font-size: 1.5em;
    border-bottom: 1px dashed green;
}

.newspaper #icon {
    position: relative;
    top: 0.5vh;
}

.update-item-button,
.delete-item-button {
    list-style-type: none;
    width: 100px;
    margin: 10px;
    border-radius: 20px;
    padding: 8px 0;
    padding-left: 17px;
}

.update-item-button {
    border: 2px solid green;
    background-color: green;
    color: white;
}

.delete-item-button {
    border: 2px solid black;
    background-color: transparent;
    color: black;
}

.create-store-button {
    position: relative;
    top: 10vh;
    left: 50vh;
    transform: scale(1.5);
    list-style-type: none;
    border-radius: 20px;
    border: 2px solid green;
    color: black;
    font-weight: bold;
    max-width: 10%;
    text-align: center;
}
