/* TODO: Add sitewide styles */
* {
    font-family: "Baloo 2", sans-serif;
    font-optical-sizing: auto;
    text-decoration: none;
}

.layout {
    position: relative
}

h1, h2 {
    font-weight: bold;
}
