#app-logo {
    width: 100px;
    margin-right: auto; /* Pushes the logo to the left */
}

.navigation {
    position: sticky;
    top: 0;
    padding: 0 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(229, 229, 229, 0.7);
    border-bottom: 2px solid rgb(47, 210, 90);
    z-index: 5;
}

.navigation>div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navigation .profile-pic {
    max-width: 4%;
    border-radius: 50%;
    margin-left: 1vw;
}

.profile-button {
    height: 4vw;
    width: 2vw;
    background: transparent;
    color: black;
    border: none;
    font-size: 1.5em;
    transform: translatey(6px)
}

.create-item-button {
    border-radius: 20px;
    background-color: green;
    color: white;
    padding: 6px 10px;
}

.pencil-icon {
    position: relative;
    top: 0.5vh;
}
