.navigation {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(229, 229, 229, 0.7);
    border-bottom: 2px solid rgb(47, 210, 90);
    ;
}

#app-logo {
    width: 100px;
    height: 50px;
    margin-right: auto;
    /* Pushes the logo to the left */
}

.create-spot-link {
    color: rgb(41, 116, 207);
    font-size: 1.5em;
    padding-right: 0.5em;
    text-decoration: none;
}

.profile-button {
    height: 40px;
    width: 70px;
    background: transparent;
    color: rgb(47, 210, 90);
    font-size: 1.1em;
}
